.product-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for shadow effect */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensure border animation stays within the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Default shadow */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
  overflow: hidden; /* Ensure the image stays within the container */
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-item:hover .product-image {
  transform: scale(1.1); /* Zoom in the image */
}

.product-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.product-description {
  margin-top: 1rem;
  flex-grow: 1; /* Allow description to grow and fill available space */
}

.product-price-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-number-container {
  display: flex;
  align-items: center;
}

.input-number {
  width: 3rem;
  text-align: center;
}

.ml-2 {
  margin-left: 0.5rem;
}

