.container {
  max-width: 1000px;
  margin: auto;
}

.address-form-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.total-section {
  margin-top: 20px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  margin: 0 5px;
}

.description-column {
  width: 35%; /* Ajusta este valor según sea necesario */
}

.column-image {
  width: 10%;
}

.column-name {
  width: 15%;
}

.column-quantity {
  width: 10%;
}

.column-price {
  width: 10%;
}

.column-total {
  width: 10%;
}

.column-actions {
  width: 10%;
}

.full-width-button {
  width: 100%;
}

.wide-table {
  width: 100%;
}

.shopping-cart-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart-title .pi-shopping-cart {
  margin-right: 10px;
}
