<div class="container mt-4">
  <h2 class="text-center">
    <i class="pi pi-book"></i> Tus Órdenes
  </h2>
  <div *ngIf="orders.length > 0; else noOrders">
    <p-carousel [value]="orders" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
      <ng-template let-order pTemplate="item">
        <p-card class="mb-4">
          <ng-template pTemplate="header">
            <div class="d-flex justify-content-between align-items-center">
              <span class="order-title">Orden #{{ order.id }}</span>
              <span class="order-date">{{ order.orderDate }}</span>
            </div>
          </ng-template>
          <div class="order-details">
            <p-panel header="Detalles de la Orden">
              <p><strong>Método de Envío:</strong> {{ order.shippingMethod }}</p>
              <p><strong>Total de la Orden:</strong> {{ order.orderTotal | currency }}</p>
              <p><strong>Estado de la Orden:</strong> {{ order.orderStatus }}</p>
            </p-panel>
            <p-divider></p-divider>
            <p-panel header="Dirección de Envío">
              <p>{{ order.address.addressLine1 }}</p>
              <p>{{ order.address.city }}, {{ order.address.region }}, {{ order.address.postalCode }}</p>
            </p-panel>
            <p-divider></p-divider>
            <p-panel header="Productos">
              <ul>
                <li *ngFor="let item of order.orderLineItems">
                  {{ item.productItem.name }} - {{ item.qty }} x {{ item.price | currency }}
                </li>
              </ul>
            </p-panel>
          </div>
        </p-card>
      </ng-template>
    </p-carousel>
  </div>
  <ng-template #noOrders>
    <div class="text-center">
      <h3>No tienes órdenes</h3>
    </div>
  </ng-template>
</div>
