<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="logo-text">Mi Tienda</h2>
        <p>
          Bienvenido a Mi Tienda, tu fuente número uno para todos los productos. Estamos dedicados a proporcionarte lo mejor, con un enfoque en la calidad y la atención al cliente.
        </p>
        <div class="contact">
          <span><i class="pi pi-phone"></i> &nbsp; 123-456-789</span>
          <span><i class="pi pi-envelope"></i> &nbsp; info&#64;mitienda.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="pi pi-facebook"></i></a>
          <a href="#"><i class="pi pi-twitter"></i></a>
          <a href="#"><i class="pi pi-instagram"></i></a>
          <a href="#"><i class="pi pi-linkedin"></i></a>
        </div>
      </div>
  
      <div class="footer-section links">
        <h2>Enlaces Rápidos</h2>
        <br>
        <ul>
          <li><a routerLink="/product-list">Productos</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      &copy; mitienda.com | Diseñado por Mi Tienda
    </div>
  </footer>
  