<footer class="footer">
  <div class="footer-content">
    <div class="logo-section">
      <h2 class="logo-text">ECOMMERCE ESCOM</h2>
    </div>
    <div class="about-section">
      <p>
        Bienvenido a ECOMMERCE ESCOM, tu fuente número uno para todos los productos. Estamos dedicados a proporcionarte lo mejor, con un enfoque en la calidad y la atención al cliente.
      </p>
    </div>
    <div class="contact-section">
      <div class="contact">
        <span><i class="pi pi-phone"></i> &nbsp; 123-456-789</span>
        <span><i class="pi pi-envelope"></i> &nbsp; info&#64;ecommerceescom.com</span>
      </div>
      <div class="socials">
        <a href="#"><i class="pi pi-facebook"></i></a>
        <a href="#"><i class="pi pi-twitter"></i></a>
        <a href="#"><i class="pi pi-instagram"></i></a>
        <a href="#"><i class="pi pi-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
