.footer {
  background: #333;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  border-top: none; /* Asegurarse de que no haya borde superior */
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 50px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.contact span {
  display: block;
  margin: 10px 0;
}

.socials a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.2rem;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links a {
  text-decoration: none;
  color: #fff;
}

.links li {
  margin: 10px 0;
}

.footer-bottom {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}
