.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .products-section {
    margin-top: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
  
  .products-grid app-product-item {
    display: flex;
    justify-content: center;
  }
  