<p-card class="login-card">
  <div class="login-form-container">
    <h2>Inicio de Sesión</h2>
    <p-messages [value]="[{ severity: 'info', summary: 'Info', detail: 'Por favor, ingrese sus datos para iniciar sesión.' }]"></p-messages>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="emailAddress">Correo Electrónico</label>
        <input id="emailAddress" type="email" pInputText formControlName="emailAddress">
      </div>
      <div class="p-field">
        <label for="password">Contraseña</label>
        <input id="password" type="password" pPassword formControlName="password">
      </div>
      <button pButton type="submit" label="Iniciar Sesión"></button>
    </form>
    <p-toast></p-toast>
  </div>
</p-card>
